/* Colors 
/* ========================================================================== */

$turquoise: #11ece5;
$black: #000000;
$blueBgDark: #0F1724;
$blueDark: #212C3D;
$blueLight: #7795C3;
$grayDark: #666666;
$gray: #EEEEEE;
$light: #DAE8FE; 
$white: #FFFFFF;

/* Media Queries
/* ========================================================================== */
$fold: 280px;
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

/* Fonts
/* ========================================================================== */
$mainFont: 'Montserrat', sans-serif;

$lightFont: 300;
$regularFont: 400;
$boldFont: 700;
$blackFont: 900;

/* Break points
/* ========================================================================== */
$break: 5rem;